.bg-orange {
    background-color: #E65100;
}
.bg-orange-light {
    background-color: #EF6C00;
}
.text-orange {
    color: #E65100 !important;
}
.btn-outline-orange {
    color: #E65100;
    background-color: transparent;
    background-image: none;
    border-color: #E65100;
  }

.btn-outline-orange:hover {
    color: #fff;
    background-color: #E65100;
    border-color: #E65100;
}

html {
    position: relative;
    min-height: 100%;
  }
body {
    font-family: "Lucida Grande",Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
}
.navbar ul li a {
    color:#fff;}